// http://eslint.org/docs/user-guide/configuring

{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  // required to lint *.vue files
  "plugins": [
    "html",
    "flowtype"
  ],
  "env": {
    "mocha": true,
    "browser": true
  },
  "globals": {
    "window": false,
    "expect": true,
    "sinon": true,
    "Blob": false,
    "URL": false,
    "__WEEX__": true
  },
  // check if imports actually resolve
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.conf.js"
      }
    }
  },
  // add your custom rules here
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-useless-escape": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    // don"t require .vue extension when importing
    // "import/extensions": ["error", "always", {
    //   "js": "never",
    //   "vue": "never"
    // }],
    // allow optionalDependencies
    // "import/no-extraneous-dependencies": ["error", {
    //   "optionalDependencies": ["test/unit/index.js"]
    // }],

    // allow debugger during development
    // "no-debugger": process.env.NODE_ENV === "production" ? 2 : 0
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "ignore",
      "asyncArrow": "ignore"
    }]
  }
}
